.container {
  width: 80vw;
  height: 85vh;
  margin: auto;
  margin-top: 5vh;
  border-radius: 12px;
  background-image: url("../assets/background-image.jpg");
  background-size: cover;
}
.top-bar {
  display: flex;
  justify-content: center;
  gap: 14px;
  padding-top: 50px;
}
.top-bar input {
  display: flex;
  width: 30vw;
  height: 40px;
  border-radius: 5rem;
  border: none;
  outline: none;
  padding-left: 20px;
  color: rgb(37, 37, 37);
  font-size: 18px;
  font-weight: 500;
}
.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(247, 240, 240);
  padding: 12px;
  border-radius: 40px;
  cursor: pointer;
}
.city {
  text-align: center;
  font-size: 36px;
  color: #006400;
  font-weight: 600;
  padding-top: 10px;
  text-transform: uppercase;
}
.box-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.box {
  height: 60%;
  width: 80%;
  overflow: hidden;
  border: 1px solid rgb(122, 118, 118);
  border-radius: 10px;

  /* background: #ff0; */
}

.hid-box {
  top: 100%;
  position: relative;
  transition: all 0.3s ease-out;
  /* background: #428bca; */
  height: 100%;
  width: 100%;
  overflow-y: auto;
}

.box:hover > .hid-box {
  top: 0;
}
.cloud-image {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.C-image {
  height: 100px;
  width: 100px;
}
.weather-temp {
  font-size: 40px;
  color: white;
  font-weight: 600;
}
.data-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 18px;
  margin-top: 20px;
}
.humidity-percentage,
.speed {
  color: blue;
  font-size: 18px;
  font-weight: 600;
}
.text {
  color: rgb(44, 43, 43);
  font-weight: 500;
}
.element {
  display: flex;
  align-items: center;
  gap: 10px;
}
.weather-day {
  font-size: 40px;
  font-weight: 600;
  color: #ec16ec;
}
.card-weather {
  background-color: #428bca;
  border: 1px solid green;
  margin: 20px;
  padding: 10px;
  border-radius: 8px;
}
.location-error {
  text-align: center;
  margin-top: 50vh;
  font-size: 40px;
}
.weather-temp-container {
  display: flex;
  justify-content: space-around;
  gap: 24px;
  font-size: 24px;
  color: cyan;
}
